.modal-add-user {
  .imageform-preview {
    border: 1px dashed rgba(255, 255, 255, 0.22);
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.65);
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.imageform-add {
  width: 100%;
}

.upload-box {
  height: 200px;
  border: 2px dashed rgba(255, 255, 255, 0.22);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(14px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  text-align: center;
}

.upload-icon {
  font-size: 48px;
}

.upload-box span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

.manage-user-container {
  .users-content {
    .btn-add-new {
      button {
        padding: 0 5;
      }
    }
  }
}
